<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @task.desc %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>Estimated hours:</b>
  <%= @task.estimated_hours %>
</p>

<p>
  <b>Url:</b>
  <%= @task.url %>
</p>

<p>
  <b>Order:</b>
  <%= @task.order %>
</p>

<p>
  <b>Parent ID:</b>
  <%= @task.taskable_id %>
</p>

<p>
  <b>Parent type:</b>
  <%= @task.taskable_type %>
</p>


<%= link_to 'Edit', edit_company_project_task_path(@company, @project, @task) %> |
<%= link_to 'Back', (@task.subtask?) ? company_project_task_path(@company, @project, @task.taskable) : company_project_path(@company, @project) %>

<%  unless @task.subtask? %>
	<% unless @task.items.blank? %>
		<h2>Tasks &amp; Notes</h2>
		<ul>
		<%= render @task.items %>
		</ul>
	<% end %>
	<%= link_to 'New Task', new_company_project_task_path(@company, @project, {:is_subtask => 'true', :parent_task_id => @task.id}) unless @task.subtask?%>
<% end %>