<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Due date:</b>
  <%= @project.due_date %>
</p>

<p>
  <b>Order:</b>
  <%= @project.order %>
</p>

<p>
  <b>Company:</b>
  <%= @project.company_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
