<div id="project_info_bar">
	<h1><%= @project.title %></h1>	
	<%= @project.url %>
	<%= @project.status %>
	<%= @project.due_date %>
	<%= link_to 'New Task', new_company_project_task_path(@company, @project) %>
</div>
<p id="notice"><%= notice %></p>


<% # link_to 'Edit', edit_company_project_path(@company, @project) %>
<% # link_to 'Back', company_path(@project.company) %>

<div id="task_list">
	<ul>
	<%= render @project.items %>
	</ul>
	
</div>