<p id="notice"><%= notice %></p>

<p>
  <h1><%= @company.name %></h2>
</p>

<p>
  <b>Url:</b>
  <%= @company.url %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<h2>Projects:</h2>
<ul>
<%= render :partial => @company.projects %>
</ul>

<%= link_to 'Add Project', new_company_project_path(@company) %>